* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 61, 71);
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar main";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*
.header {
    background-color: rgb(9, 151, 194);
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 4%;
    width: 100%;
    grid-area: header;
}
*/


.sidebar {
    background-color: rgb(194, 151, 9);
    text-align: center;
    padding: 0px;
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*.footer {
    background-color: rgb(9, 151, 194);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
*/

.main-content {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.task-list {
    background-color: rgb(122, 182, 238);
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.task {
    background-color: rgb(86, 235, 165);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.add-task-button {
    background-color: rgb(19, 182, 52);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 5%;
    left: 40%;
    width: 20%;
    border: 1px solid black;

}

.project-list {
    background-color: rgb(200, 173, 84);
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 95%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.project {
    background-color: rgb(19, 114, 182);
    color: white;
    border: none;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.project-details {
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-left: 8px;
    font-size: 0.9em;
    font-style: italic;
    cursor: pointer;
}

.project:hover .project-details {
    opacity: 1;
}

.add-project-button {
    background-color: rgb(19, 182, 52);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    border: 1px solid black;
}

.project-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-modal-content {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-details-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.project-details-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
